{% load static %}
<nav  class="red lighten-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo left">My diary</a>
        <ul id="nav-mobile" class="right" >
            {% if user.is_authenticated %}
            <li style="display:flex;"> Hi, <a href="{% url 'private' %}"> {{ user.username }}
            </a></li> 
            <li> <a href="{% url 'logout'  %}">Log Out</a></li>
           
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            
            {% endif %}
        </ul>
          
    </div>         
        
</nav>