{% extends "base.html" %}

{% block content %}
<button><a href="{% url 'entry_new'  %}">New Entry</a></button>

{% for entry in entries %}
 

<h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
<div class="row">
    <h3>{{ entry.author }}</h3>
    <p>{{ entry.created_on }}</p>
</div>
<div class="image">
    {% if entry.image %}
    <img src="{{ entry.image.url }}" alt="" style="width:auto;height:200px;" >
    {% endif %}
</div>
    <p>{{ entry.text|safe|truncatewords:"10"}}</p>
    <button><a href="{{ entry.get_absolute_url }}">Read more</a></button>

    <hr />





{% endfor %}

{% endblock %}