{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
     <!-- Compiled and minified CSS -->
     {% block css %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
</head>
<body>
    
    <nav  class="red lighten-2">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left">My diary</a>
            <ul id="nav-mobile" class="right" >
                {% if user.is_authenticated %}
                <li style="display:flex;"> Hi, <a href="{% url 'private' %}"> {{ user.username }}
                </a></li> 
                <li> <a href="{% url 'logout'  %}">Log Out</a></li>
               
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                
                {% endif %}
            </ul>
              
        </div>         
            
    </nav>

        
            {% block content %}
            {% endblock %}
   
  
  
    {% block javascript %}
 
    <!-- Compiled and minified JavaScript -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         

    {% endblock javascript %}
</body>
</html>